.events {
    margin: 105px 0 65px;

    &__grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
    }

    &__block {
        display: flex;
	    /* align-items: center; */
        margin-top: 50px;
    }

    .link-to {
        margin-top: 22px;
    }

}

.news__item {
    @extend %flex-column-start;
    max-width: 285px;
    h3 {
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        color: #051945;
    }

    span:not(.link-to__span) {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.02em;
        color: rgba(5, 25, 69, 0.5);
    }

    &:hover {
        h3 {
            color: #0a3fb4;
        }
    }
}

.news__date {
    @extend %flex-row-c;
    img {
        margin-right: 9px;
    }
}

.news__img {
    margin-right: 19px;
    border-radius: 5px;
}
