.news {
  padding: 105px 0 65px;
  border-top: 1px solid rgba(206, 219, 228, 0.75);

  &__grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  &__grid-a {
    grid-template-columns: 1fr 1fr;
    gap: 0 87px;

    > *:first-child {
        grid-column: 1/2;
    }
  }

  &__block {
    display: flex;
    margin-bottom: 50px;
    margin-right: 50px;
    &_with-img {
    }

    &.top {
        .news__img {
            margin-right: 30px;
        }
        .news__item {
            max-width: 100%;
        }
    }
    &:hover {
      .news__item {
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 100%;
          left: 0;
          right: 40%;
          bottom: 0;
          border-bottom: 1px solid #0A3FB4;
        }
      }

      .news__img picture {
        position: relative;
        display: inline-block;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #0a3fb4;
          opacity: 0.4;
          border-radius: 3px;
        }
      }

      h3 {
        color: #0a3fb4;
      }
    }
    &.news__block_with-img {
      flex-direction: column;
      justify-content: space-between;
      grid-row: span 2;

      .news__img img {
        width: 280px;
      }
    }

    &:nth-child(3n + 3) {
      margin-right: 0;
    }
  }

  &__item {
    display: flex;
    border-bottom: 1px solid #cedbe4;
    flex-direction: column;
    max-width: 285px;

    &:not(.news__item_dif) {
      justify-content: space-between;
    }

    h3 {
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #051945;
    }

    span:not(.link-to__span) {
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.02em;
      color: rgba(5, 25, 69, 0.5);
    }
  }

  &__date {
    @extend %flex-row-c;

    margin-top: 35px;
    margin-bottom: 13px;

    img {
      margin-right: 9px;
    }
  }

  &__img {
    margin-right: 19px;
  }

  .link-to {
    margin-top: 22px;
  }
}
