.pharmacies {
    background: #fff;
    padding: 31px 0 100px;

    &__city {
        border-bottom: 1px solid rgba(206, 219, 228, 0.75);
        margin-top: 50px;
        
        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            border-bottom: none;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        
    }

    &__adress {
        display: flex;
        margin: 20px 0;
    }

    &__photo {
        margin-right: 25px;
        /* height: 135px; */
        width: 135px;
    }

    &__text {
        h3 {
            margin-bottom: 15px;
        }
    }

    &__contacts {
        >* {
            margin-bottom: 15px;
        }
    }

    .mode {
        justify-content: flex-start;
        p {
            color: #051945;
        }
    }
}

@media (max-width: 768px) {

    .pharmacies {

    
        &__city {

            .title {
                line-height: 26px;
            }
            &:first-child {

            }
    
            &:last-child {
                border-bottom: 1px solid rgba(206, 219, 228, 0.75);
            }
        }
    
        &__grid {
           grid-template-columns: 1fr;
            
        }
    
        &__adress {
            
        }
    
        &__photo {
            width: calc(90px + (35 + 35 * 0.7) * ((100vw - 320px) / 768));
            margin-right: 15px;
        }
    
        &__text {
            h3 {
                font-size: 14px;
                line-height: 16px;
            }
        }
    
        &__contacts {
            >* {
               
            }
        }
    
        .mode {
            
            p {
                
            }
        }
    }

}