.sidebar {
  margin-top: 70px;
  &.sidebar_news, &.sidebar_documents {
    margin-top: 0;
    /* margin-left: 20%; */
  }

  &.sidebar_documents {
    margin-top: 119px;
  }
  &__content {
  }

  &__links {
    background: rgba(8, 74, 122, 0.05);
    padding: 45px;
    li {
      list-style-type: none;
      padding: 0 0 30px;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 19px;
    color: #084a7a;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }

  &__news {
    .title {
      margin: 0 0 50px;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      text-transform: none;
      color: #084a7a;
    }

    .news__block {
      margin-top: 40px;
      margin-right: 0;
    }
  }
}


@media (max-width: 768px) {
  .sidebar {
    margin-bottom: 70px;
  }

  .sidebar.sidebar_news {
    margin-left: 0;
    margin-top: 60px;

    .news__item {
      max-width: 100%;
    }
  }

  .sidebar.sidebar_documents {
    margin: 0 0 150px;
  }
}