@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@mixin flex($jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}

$cmain: #084a7a;
$green: #1fc18f;

%uppercase {
  text-transform: uppercase;
}

%flex-row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

%flex-row-sb {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

%flex-row-sb-c {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

%flex-row-c {
  display: flex;
  align-items: center;
}

%flex-column-start {
  display: flex;
  flex-direction: column;
}

.link-to {
  @extend %flex-row-sb-c;
  justify-content: flex-start;
  img {
    margin-right: 7px;
  }

  span {
    color: #0a3fb4;
    text-transform: uppercase;
  }

  picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.75;
  }
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  color: #004b80;
  white-space: pre-line;
}

h3.title {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #084a7a;
}

.review-btn {
  border: 4px solid #0a3fb4;
  box-sizing: border-box;
  border-radius: 200px;
  padding: 25px 46px 22px 47px;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #0a3fb4;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  @extend %uppercase;
  &:hover {
    background-color: #0a3fb4;
    color: #fff;
  }
}

.page__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #084a7a;
  padding: 38px 0 32px;
  max-width: 815px;
}

.page__title_white {
  color: #fff;
}

.background-blue {
  background-color: #084a7a;
}

.main__grid {
  .container {
    display: grid;
    /* grid-template-columns: 2fr 1fr; */
    /* grid-template-columns: 70% 30%; */
  }

  .main__grid-left {
    margin-right: 61px;
    &.mr-0 {
      margin-right: 0;
    }
  }

  .news {
    max-width: 650px;
  }
  .tabs {
    width: 880px;
  }
}

.pagination {
  display: flex;
  align-items: center;
  margin-top: 77px;
  &__prev {
    transform: scale(-1, 1);
  }

  &.pagination_news {
    margin-top: 0;
    a {
      text-transform: none;
      color: #0A3FB4;
      &:hover,
      &.active {
        color: #051945;
      }
    }

    .pagination__prev {
      transform: none;
    }

    .pagination__next {
    }

    .pagination__center {
      > * {
        margin-right: 28px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  a {
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #051945;

    &:hover,
    &.active {
      color: #0A3FB4;
    }
  }

  > * {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.mb320 {
  margin-bottom: 320px;
}

.bcwhite {
  background-color: #fff;
}


@media (min-width: 1080px) {
  .main__grid {
    .container {
      grid-template-columns: 70% 30%;
    }

    &-right {
      margin-left: 20%;
    }
    .tabs {
      width: auto;
    }

    .calendar {
      max-width:100%;
    }
  }
}

@media (max-width: 1079px) {
  .main__grid {
    .container {
      grid-template-columns: 1fr;
    }

    .tabs {
      width: auto;
    }
    .sidebar {
      margin-bottom: 50px;
    }
  }
}


@media (max-width: 768px) {
  .mb320 {
    margin-bottom: 300px;
  }
  .review-btn {
  }

  .main__grid {
    .container {
      grid-template-columns: 1fr;
    }
  }


  .page__title {
    font-size: 30px;
    line-height: 40px;
  }

  .main__grid-right {
    width: calc(100vw - 30px);
  }


  .main__grid .main__grid-left {
    margin-right: 0;
  }

  .media__photo .pagination {
    justify-content: space-between;

    > * {
      margin-right: calc(17px + (15 + 15 * 0.7) * ((100vw - 320px) / 768));

      &:last-child {
        margin-right: 0;
      }
    }
  }


  .pagination_news {
    width: calc(100vw - 30px);
    >* {
      display: flex;
      align-items: center;
    }
    display: grid;
    grid-template-columns: 1fr 1fr;
    .pagination__prev {
      transform: none;
      margin-right: 0;
    }

    .pagination__next {
      grid-column: 2/3;
      grid-row: 1/1;
      justify-content: flex-end;
    }

    .pagination__center {
      margin-top: 34px;
      justify-content: center;
      margin-right: 0;
      grid-column: span 2;
      > * {
        margin-right: 36px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@import "fonts";

@import "normalize";

@import "before"; // До галпа

@import "banner";

@import "target";

@import "news";

@import "main-review";

@import "swiper";

@import "map";

@import "footer";

@import "breadcrumbs";

@import "choose-city";

@import "pharmacies";

@import "calendar";

@import "tabs";

@import "sidebar";

@import "reviews";

@import "documents";

@import "media";
@import "popup";
@import "contacts";
