@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@mixin flex($jc, $ai) {
	display: flex;
	justify-content: $jc;
	align-items: $ai;
}

$cmain: #084a7a;
$green: #1fc18f;

%uppercase {
	text-transform: uppercase;
}

%flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

%flex-column-center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

%flex-row-sb {
	display: flex;
	justify-content: space-between;
	align-items: space-between;
}

%flex-row-sb-c {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

%flex-row-c {
	display: flex;
	align-items: center;
}

%flex-column-start {
	display: flex;
	flex-direction: column;
}

.link-to {
	@extend %flex-row-sb-c;
	justify-content: flex-start;
	img {
		margin-right: 7px;
	}

	&__span {
		color: #0a3fb4;
	}

	picture {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.title {
	font-weight: 600;
	font-size: 30px;
	line-height: 36px;
	color: #004b80;
	white-space: pre-line;
}

.review-btn {
	border: 4px solid #0a3fb4;
	box-sizing: border-box;
	border-radius: 200px;
	padding: 25px 46px 22px 47px;
	font-weight: 600;
	font-size: 16px;
	line-height: 28px;
	color: #0a3fb4;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 270px;
	@extend %uppercase;
}



@import "fonts";

@import "normalize";

@import "before"; // До галпа

@import "banner";

@import "target";

@import "news";

@import "main-review";

@import "main-swiper";

@import "map";

@import "footer";